<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<div class="jumbotron">
  <div class="container">
    <h1>Brooklyn Community Catalog</h1>

    <p>Welcome to the Brooklyn Community Catalog, a home for <a href="https://brooklyn.incubator.apache.org/">Apache Brooklyn</a> blueprints provided freely by the community.</p>

    <div class="row">
      <div class="col-md-6">
        <h2>How to use?</h2>
        <p>Browse existing blueprints contributed by the community and easily deploy them for yourself.</p>
        <p><a class="btn btn-primary btn-lg" href="#blueprints" role="button">Browse blueprints &raquo;</a></p>
      </div>

      <div class="col-md-6">
        <h2>How to contribute?</h2>
        <p>Visit the the Github central repository to contribute your own blueprints.</p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/brooklyncentral/brooklyn-community-catalog" role="button">Add your own &raquo;</a></p>
      </div>
    </div>
  </div>
</div>
