/* this green is approx what is in the logo (taken from image picker) */
/* GENERAL UTILS
   ----------------------------------------------------------------------- */
.flip {
  filter: FlipH;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
}

/* BASIC STYLES
   ----------------------------------------------------------------------- */
body {
  margin: 0px;
  padding: 60px 0px 100px 0px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 17px;
  background-color: white;
  color: #393939;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Avenir, "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  margin: 0.75em 0;
  line-height: 1.4em;
}

form {
  padding: 0;
  margin: 0;
}

img {
  border: 0;
}

a {
  color: #448833;
}

a:hover {
  text-decoration: none;
  color: #6db34b;
}

.dropdown-menu > li > a {
  font-weight: 300;
}

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
  text-shadow: none;
  font-weight: 300;
}

.btn-default {
  color: #666666;
}

.panel-heading h4 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 8px;
  margin-top: 0px;
}

.panel-body {
  margin: 0px;
  font-size: 95%;
  color: #666666;
  padding: 15px;
  background-color: #fafafa;
  border-radius: 5px;
}
.panel-body p:first-child {
  margin-top: 0px;
}
.panel-body p:last-child {
  margin-bottom: 0px;
}
.panel-body > ul, .panel-body > ol {
  margin-left: -1em;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-bottom: 1px solid #dddddd;
}

/* TOOLTIPS
   ----------------------------------------------------------------------- */
.tooltip .tooltip-inner {
  color: #393939;
  background-color: #dddddd;
  font-weight: 500;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #dddddd;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #dddddd;
}

/* CODE RENDERING
   ----------------------------------------------------------------------- */
pre {
  font-family: Consolas, Lucida Console, Monaco, monospace;
  white-space: pre;
  word-wrap: normal;
  overflow-y: scroll;
  font-size: 14px;
  /* override color and bg-color on 'code' from bootstrap, and a touch more padding on top since font-size is smaller */
  color: #393939;
  background-color: whitesmoke;
  padding: 0.4em 0.8em;
  overflow-x: scroll;
  /* override border and line-height on 'pre' from bootstrap */
  border: none;
  border-radius: 2px;
  line-height: 1.4;
  font-size: 13px;
}
pre code {
  /* override settings on 'pre code' from bootstrap */
  font-family: Consolas, Lucida Console, Monaco, monospace;
  white-space: pre;
  word-wrap: normal;
  overflow-y: scroll;
  font-size: 14px;
  /* override color and bg-color on 'code' from bootstrap, and a touch more padding on top since font-size is smaller */
  color: #393939;
  background-color: whitesmoke;
  padding: 0.4em 0.8em;
  overflow-x: scroll;
  /* override border and line-height on 'pre' from bootstrap */
  border: none;
  border-radius: 2px;
  line-height: 1.4;
  font-size: 13px;
  line-height: 1;
  /** and no padding since pre already has some */
  padding: 0px;
}

code {
  font-family: Consolas, Lucida Console, Monaco, monospace;
  white-space: pre;
  word-wrap: normal;
  overflow-y: scroll;
  font-size: 14px;
  /* override color and bg-color on 'code' from bootstrap, and a touch more padding on top since font-size is smaller */
  color: #393939;
  background-color: whitesmoke;
  padding: 4px 4px 2px 4px;
  border-radius: 3px;
}

a code {
  color: inherit;
}

.nowrap {
  white-space: pre;
  word-wrap: normal;
  overflow-y: scroll;
}

.highlight {
  background-color: whitesmoke;
}

/* clipboard icon should have the same background color as the code */
.highlight .clipboard_button {
  display: none;
}

.highlight:hover .clipboard_button {
  display: inherit;
}

.clipboard_button.zeroclipboard-is-hover {
  display: inherit;
}

.clipboard_container {
  float: right;
  padding: 8px;
}

.clipboard_button:before {
  content: "\f0c5";
}

.clipboard_button {
  font-size: 18px;
  color: #448833;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}

.clipboard_button:hover, .clipboard_button.zeroclipboard-is-hover {
  color: #6db34b;
  cursor: pointer;
  cursor: hand;
}

.clipboard_button.zeroclipboard-is-active .on-active {
  display: inherit;
}

.clipboard_button .on-active {
  z-index: 10;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: none;
  margin-top: -20px;
  height: 0;
  width: 0;
  overflow-x: visible;
  overflow-y: visible;
  position: relative;
  top: -30px;
}

.clipboard_button .on-active > div {
  background-color: #dddddd;
  border: 1px solid #aaaaaa;
  font-size: 75%;
  font-weight: normal;
  left: -50%;
  color: #393939;
  width: auto;
  display: inline-block;
  white-space: pre;
  word-wrap: normal;
  overflow-y: scroll;
  padding: 3px 7px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* WEBSITE MENUS
   ----------------------------------------------------------------------- */
/* top menu bar */
.navbar-brand {
  padding-left: 0;
  font-size: 2em;
}
.beta {
  font-size: 1.2em;
  display: inline-block;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .beta {
    margin-right: -20px;
  }
}
.navbar .icon-github {
  width: 32px;
  height: 32px;
  background: url("/assets/css/../img/github-256-black.png");
  background-size: 32px 32px;
}
.navbar .icon-github:hover {
  background: url("/assets/css/../img/github-256-green.png");
  background-size: 32px 32px;
}
.navbar .icon-twitter {
  width: 32px;
  height: 32px;
  background: url("/assets/css/../img/twitter-256-black.png");
  background-size: 32px 32px;
}
.navbar .icon-twitter:hover {
  background: url("/assets/css/../img/twitter-256-green.png");
  background-size: 32px 32px;
}
.navbar .icon-irc {
  width: 32px;
  height: 32px;
  background: url("/assets/css/../img/irc-256-black.png");
  background-size: 32px 32px;
}
.navbar .icon-irc:hover {
  background: url("/assets/css/../img/irc-256-green.png");
  background-size: 32px 32px;
}

.navbar .tooltip .tooltip-inner {
  position: relative;
  right: 40%;
  right: calc(50% - 25px);
  max-width: 300px;
}

/* special container with sidebar where if sidebar is squeezed
   (under "responsiveness") the text keeps at least its "auto" size,
   squashing the main container instead */
.container-and-sidebars {
  width: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.container-between-sidebars {
  -webkit-box-flex: 1 100%;
  -webkit-flex: 1 100%;
  -webkit-flex-flex: 1 100%;
  flex: 1 100%;
  flex: 10 1 100%;
  display: inline-block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.container-sidebar, .container-sidebar-right, .container-sidebar-left {
  -webkit-box-flex: 0 auto;
  -webkit-flex: 0 auto;
  -webkit-flex-flex: 0 auto;
  flex: 0 auto;
  flex: 0 0 auto;
}

.container-sidebar-right {
  text-align: left;
  padding-right: 10px;
}

.container-sidebar-left {
  text-align: right;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .container-sidebar, .container-sidebar-right, .container-sidebar-left {
    min-width: calc((100% - 750px)/2);
  }
}
@media (min-width: 992px) {
  .container-sidebar, .container-sidebar-right, .container-sidebar-left {
    min-width: calc((100% - 970px)/2);
  }
}
@media (min-width: 1200px) {
  .container-sidebar, .container-sidebar-right, .container-sidebar-left {
    min-width: calc((100% - 1170px)/2);
  }
}
.navbar-feather {
  padding-top: 12px;
  margin-right: -6px;
}

.navbar-sidebar-right-icons {
  padding-top: 10px;
  margin-left: -6px;
  white-space: nowrap;
}
.navbar-sidebar-right-icons a {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.navbar-icon-shift {
  margin-right: -2px;
}

.navbar .catalog-title {
  padding-left: 4px;
  display: inline-block;
  font-size: 140%;
  padding-bottom: 7px;
  font-weight: 800;
  vertical-align: bottom;
}

.navbar-nav > li > a {
  padding-top: 18px;
  padding-bottom: 12px;
  font-size: 125%;
}

.navbar div.dropdown_section_header hr {
  margin: 4px 12px;
  border-color: #dddddd;
}

.navbar div.dropdown_new_section hr {
  margin: 6px 0px;
  border-color: #dddddd;
}

/* pop-up top-menu */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: whitesmoke;
  color: #6db34b;
}

.top-menu {
  font-size: 14px;
  font-weight: 400;
}
.top-menu .dropdown-menu > li > a:hover, .top-menu .dropdown-menu > li > a:focus {
  background-color: whitesmoke;
  background-image: none;
  color: #6db34b;
}
.top-menu ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}

/* side menu */
.side-menu {
  font-family: Avenir, "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: fixed;
  /* further crumbs all get the same */
}
.side-menu h4.with_following {
  margin-bottom: 0;
}
.side-menu h4.with_preceding {
  margin-top: 0;
}
.side-menu h4.with_following a {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom: 0;
}
.side-menu h4.with_preceding a {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 0;
}
.side-menu a, .side-menu a.breadcrumb.breadcrumb0 {
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 6px;
}
.side-menu a.breadcrumb.breadcrumb1 {
  padding-left: 30px;
}
.side-menu a.breadcrumb.breadcrumb2 {
  padding-left: 45px;
}
.side-menu a.breadcrumb.breadcrumb3 {
  padding-left: 60px;
}
.side-menu a.breadcrumb {
  padding-left: 70px;
}
.side-menu div.sub-item {
  background-color: #48a648;
  border-left: 1px solid #428bca;
}
.side-menu div.sub-item:last-child {
  border-bottom: 1px solid #dddddd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.side-menu div.sub-item:last-child a.sub-item:last-child {
  border-bottom-right-radius: 4px !important;
}
.side-menu a.with-sub-item {
  /* border-bottom: 1px solid $white_dd; */
  border-bottom: 0;
}
.side-menu a.sub-item {
  border-radius: 0 !important;
  border-bottom: 0;
  margin-left: 12px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.side-menu a.sub-item.list-group-item.active {
  background-color: whitesmoke;
  background-image: -webkit-linear-gradient(top, whitesmoke 0%, whitesmoke 100%);
  background-image: linear-gradient(to bottom, whitesmoke 0%, whitesmoke 100%);
  border-color: #dddddd;
  color: #393939;
  text-shadow: none;
  margin-bottom: 0;
  padding-bottom: 7px;
}
.side-menu a.sub-item.list-group-item.active:hover {
  color: #6db34b;
}

/* SEARCH
   ----------------------------------------------------------------------- */
div.search_right {
  float: right;
  -webkit-transform: translateY(-12px);
  -moz-transform: translateY(-12px);
  -o-transform: translateY(-12px);
  transform: translateY(-12px);
  padding-right: 5%;
  padding-bottom: 18px;
  font-size: 75%;
}
div.search_right .searchform {
  width: 240px;
  margin: 0;
  padding: 5px 5px 0 0;
  overflow: hidden;
  text-align: right;
}
div.search_right .searchinput {
  width: 227px;
  background: #ffffff;
  border: 1px solid #b1b7c2;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #c8ccd5;
  padding: 3px;
}
div.search_right .searchinput:focus {
  color: #393939;
}

/* FOOTER
   ----------------------------------------------------------------------- */
/* sticky footer */
html {
  position: relative;
  min-height: 100%;
}

@media (min-width: 1200px) {
  .slightlyNarrowContainer {
    width: 970px;
  }
}
div#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: whitesmoke;
  text-align: center;
  font-size: 80%;
}
div#footer p {
    font-size: 0.9em;
    margin: 0;
}
.octicon-footer {
  color: #888888;
  font-size: 130%;
  position: relative;
  top: 2px;
  padding-left: 6px;
}

a:hover .octicon-footer {
  color: #6db34b;
}

#content_container {
  padding-bottom: 48px;
}
#content_container img {
  max-width: 100%;
}

/* HEADER LINKS 
   ----------------------------------------------------------------------- */
#content_container h1 {
  max-width: 95%;
  font-variant: normal;
  margin-top: -16px;
  padding-bottom: 6px;
  margin-top: 64px;
  margin-bottom: 24px;
  border-bottom: 1px dotted #aaaaaa;
  font-weight: 300;
  font-size: 36px;
  text-transform: uppercase;
}

h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 8px;
}

h5 {
  font-size: 18px;
  font-weight: 300;
}

h6 {
  font-size: 16px;
}

/* headings get a tooltip showing the permalink URL, a la github jekyll */
/* install subset of font-awesome */
@font-face {
  font-family: 'FontAwesome';
  src: url("/assets/css/deps/font-awesome-4.2.0/fonts/fontawesome-webfont.eot");
  src: url("/assets/css/deps/font-awesome-4.2.0/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("/assets/css/deps/font-awesome-4.2.0/fonts/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("/assets/css/deps/font-awesome-4.2.0/fonts/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("/assets/css/deps/font-awesome-4.2.0/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-link:before {
  content: "\f0c1";
}

.fa-play-circle-o:before {
  content: "\f01d";
}

/*
 * This code is courtesy Ben Balter, modified by Parker Moore for jekyllrb.com
 * http://ben.balter.com/2014/03/13/pages-anchor-links/
 */
.header-link {
  position: relative;
  left: 0.5em;
  opacity: 0;
  font-size: 0.8em;
  /* not using -- but this is cool!
    -webkit-transition: opacity 0.2s ease-in-out 0.1s;
    -moz-transition: opacity 0.2s ease-in-out 0.1s;
    -ms-transition: opacity 0.2s ease-in-out 0.1s;
  */
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

a.header-literal-anchor {
  display: inline !important;
}

ul.list-repositories a span {
  color: #777;
}

.card dl {
  font-size: 0.9em;
}

.card h5 {
  font-size: 1.5em;
  margin-top: 0;
}

.card dt {
  width: 140px;
  float: left;
  text-align: right;
}

.card dd {
  margin-left: 150px;
}